In [28]:
import pandas as pd
import scipy.stats as stats

df = pd.read_csv('data.csv')

df

/var/folders/8j/r69mgm091pzd4r2h43qps4z00000gn/T/ipykernel_12075/1320251858.py:4: DtypeWarning: Columns (10,12,14,17,18,20,22,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2023-1,2023-01-05,1,Vente,1070000.0,184.0,NaN,ALL DES HETRES,0124,1630.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6.019949,46.247458
1,2023-1,2023-01-05,1,Vente,1070000.0,159.0,NaN,ALL DES HETRES,0124,1630.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6.020204,46.247228
2,2023-1,2023-01-05,1,Vente,1070000.0,159.0,NaN,ALL DES HETRES,0124,1630.0,...,Appartement,233.0,8.0,NaN,NaN,NaN,NaN,NaN,6.020204,46.247228
3,2023-2,2023-01-03,1,Vente,152200.0,2914.0,NaN,RTE DE PONCIN,0107,1450.0,...,Maison,64.0,3.0,S,sols,NaN,NaN,988.0,5.438273,46.129859
4,2023-3,2023-01-05,1,Vente,269000.0,427.0,T,CHE DE L'AUBEPIN,0040,1800.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,835.0,5.225844,45.853513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532713,2023-564084,2023-05-26,1,Vente,332500.0,9.0,NaN,RUE DORIAN,2905,75012.0,...,Appartement,49.0,3.0,NaN,NaN,NaN,NaN,NaN,2.392890,48.846567
1532714,2023-564085,2023-06-22,1,Vente,898000.0,27.0,A,RUE ROBERT DE FLERS,8253,75015.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.283358,48.848618
1532715,2023-564085,2023-06-22,1,Vente,898000.0,27.0,A,RUE ROBERT DE FLERS,8253,75015.0,...,Appartement,93.0,2.0,NaN,NaN,NaN,NaN,NaN,2.283358,48.848618
1532716,2023-564086,2023-06-12,1,Vente,545000.0,1.0,NaN,RUE ALBERT SOREL,0130,75014.0,...,Appartement,79.0,4.0,NaN,NaN,NaN,NaN,NaN,2.322449,48.823226
1532717,2023-564087,2023-02-14,1,Vente,477000.0,55.0,NaN,RUE DES ENTREPRENEURS,3289,75015.0,...,Local industriel. commercial ou assimilé,52.0,0.0,NaN,NaN,NaN,NaN,NaN,2.288474,48.845632

In [29]:
df = df[df['valeur_fonciere'].notnull() & df['surface_reelle_bati'].notnull()]
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
2,2023-1,2023-01-05,1,Vente,1070000.0,159.0,NaN,ALL DES HETRES,0124,1630.0,...,Appartement,233.0,8.0,NaN,NaN,NaN,NaN,NaN,6.020204,46.247228
3,2023-2,2023-01-03,1,Vente,152200.0,2914.0,NaN,RTE DE PONCIN,0107,1450.0,...,Maison,64.0,3.0,S,sols,NaN,NaN,988.0,5.438273,46.129859
5,2023-3,2023-01-05,1,Vente,269000.0,427.0,T,CHE DE L'AUBEPIN,0040,1800.0,...,Maison,73.0,3.0,S,sols,NaN,NaN,835.0,5.225844,45.853513
7,2023-4,2023-01-03,1,Vente,770000.0,159.0,A,RUE DU PARC DE VILLARD,0151,1210.0,...,Maison,136.0,7.0,S,sols,NaN,NaN,921.0,6.083444,46.279993
15,2023-8,2023-01-06,3,Vente,85520.0,41.0,NaN,CHE DE LA CROIX DE VACAGNOLE,0380,1340.0,...,Maison,160.0,5.0,NaN,NaN,NaN,NaN,NaN,5.171364,46.269235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532711,2023-564083,2023-06-28,1,Vente,1067000.0,65.0,NaN,RUE NOTRE-DAME DES CHAMPS,6838,75006.0,...,Appartement,71.0,2.0,NaN,NaN,NaN,NaN,NaN,2.331464,48.843610
1532713,2023-564084,2023-05-26,1,Vente,332500.0,9.0,NaN,RUE DORIAN,2905,75012.0,...,Appartement,49.0,3.0,NaN,NaN,NaN,NaN,NaN,2.392890,48.846567
1532715,2023-564085,2023-06-22,1,Vente,898000.0,27.0,A,RUE ROBERT DE FLERS,8253,75015.0,...,Appartement,93.0,2.0,NaN,NaN,NaN,NaN,NaN,2.283358,48.848618
1532716,2023-564086,2023-06-12,1,Vente,545000.0,1.0,NaN,RUE ALBERT SOREL,0130,75014.0,...,Appartement,79.0,4.0,NaN,NaN,NaN,NaN,NaN,2.322449,48.823226
1532717,2023-564087,2023-02-14,1,Vente,477000.0,55.0,NaN,RUE DES ENTREPRENEURS,3289,75015.0,...,Local industriel. commercial ou assimilé,52.0,0.0,NaN,NaN,NaN,NaN,NaN,2.288474,48.845632

In [30]:
df["prix_m2"] = df["valeur_fonciere"] / df["surface_reelle_bati"]

df["zscores"] = stats.zscore(df["prix_m2"])

df["zscores_valeur_fonciere"] = stats.zscore(df["valeur_fonciere"])

df

df["prix_moyen_commune"] 1

SyntaxError: invalid syntax (337634703.py, line 9)

In [ ]:
df_filtered = df[(df['zscores'] > 3) | (df['zscores'] < -3)]
df_filtered['zscores']
df_filtered

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,prix_m2,zscores,zscores_valeur_fonciere
56293,2023-18474,2023-01-13,1,Vente,2875000.0,455.0,NaN,PROM DES ANGLAIS,0240,6200.0,...,NaN,NaN,NaN,NaN,NaN,7.213808,43.667417,2.875000e+06,5.575657,0.232348
118965,2023-41857,2023-04-27,1,Vente,6500000.0,1.0,A,RUE ANDRE JOSEPH,0163,8000.0,...,P,prés,NaN,NaN,2318.0,4.710215,49.739149,6.500000e+06,12.662493,0.616240
160306,2023-55660,2023-01-27,1,Vente,21400000.0,485.0,NaN,AV DU PRADO,7515,13008.0,...,S,sols,NaN,NaN,7458.0,5.381443,43.265374,1.070000e+07,20.873447,2.194168
160307,2023-55660,2023-01-27,1,Vente,21400000.0,485.0,NaN,AV DU PRADO,7515,13008.0,...,S,sols,NaN,NaN,7458.0,5.381443,43.265374,1.070000e+07,20.873447,2.194168
160308,2023-55660,2023-01-27,1,Vente,21400000.0,485.0,NaN,AV DU PRADO,7515,13008.0,...,S,sols,NaN,NaN,7458.0,5.381443,43.265374,1.070000e+07,20.873447,2.194168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525999,2023-560980,2023-05-16,1,Vente,25750000.0,55.0,B,RUE DES SAINTS PERES,8767,75006.0,...,S,sols,NaN,NaN,275.0,2.330377,48.853850,2.861111e+06,5.548505,2.654839
1526001,2023-560980,2023-05-16,1,Vente,25750000.0,55.0,B,RUE DES SAINTS PERES,8767,75006.0,...,S,sols,NaN,NaN,275.0,2.330377,48.853850,1.839286e+06,3.550847,2.654839
1528795,2023-562116,2023-06-05,1,Vente,19500000.0,1.0,NaN,RUE DE MEDICIS,6244,75006.0,...,S,sols,NaN,NaN,254.0,2.339351,48.848913,2.437500e+06,4.720349,1.992956
1528802,2023-562116,2023-06-05,1,Vente,19500000.0,1.0,NaN,RUE DE MEDICIS,6244,75006.0,...,S,sols,NaN,NaN,254.0,2.339351,48.848913,2.437500e+06,4.720349,1.992956
1528814,2023-562116,2023-06-05,1,Vente,19500000.0,1.0,NaN,RUE DE MEDICIS,6244,75006.0,...,S,sols,NaN,NaN,254.0,2.339351,48.848913,1.625000e+06,3.131921,1.992956

In [ ]:
df = df[(df['zscores'] < 3) & (df['zscores'] > -3)]
df['zscores']
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,prix_m2,zscores,zscores_valeur_fonciere
2,2023-1,2023-01-05,1,Vente,1070000.0,159.0,NaN,ALL DES HETRES,0124,1630.0,...,NaN,NaN,NaN,NaN,NaN,6.020204,46.247228,4592.274678,-0.035959,0.041197
3,2023-2,2023-01-03,1,Vente,152200.0,2914.0,NaN,RTE DE PONCIN,0107,1450.0,...,S,sols,NaN,NaN,988.0,5.438273,46.129859,2378.125000,-0.040287,-0.056000
5,2023-3,2023-01-05,1,Vente,269000.0,427.0,T,CHE DE L'AUBEPIN,0040,1800.0,...,S,sols,NaN,NaN,835.0,5.225844,45.853513,3684.931507,-0.037733,-0.043630
7,2023-4,2023-01-03,1,Vente,770000.0,159.0,A,RUE DU PARC DE VILLARD,0151,1210.0,...,S,sols,NaN,NaN,921.0,6.083444,46.279993,5661.764706,-0.033868,0.009426
15,2023-8,2023-01-06,3,Vente,85520.0,41.0,NaN,CHE DE LA CROIX DE VACAGNOLE,0380,1340.0,...,NaN,NaN,NaN,NaN,NaN,5.171364,46.269235,534.500000,-0.043892,-0.063061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532711,2023-564083,2023-06-28,1,Vente,1067000.0,65.0,NaN,RUE NOTRE-DAME DES CHAMPS,6838,75006.0,...,NaN,NaN,NaN,NaN,NaN,2.331464,48.843610,15028.169014,-0.015557,0.040879
1532713,2023-564084,2023-05-26,1,Vente,332500.0,9.0,NaN,RUE DORIAN,2905,75012.0,...,NaN,NaN,NaN,NaN,NaN,2.392890,48.846567,6785.714286,-0.031671,-0.036906
1532715,2023-564085,2023-06-22,1,Vente,898000.0,27.0,A,RUE ROBERT DE FLERS,8253,75015.0,...,NaN,NaN,NaN,NaN,NaN,2.283358,48.848618,9655.913978,-0.026059,0.022982
1532716,2023-564086,2023-06-12,1,Vente,545000.0,1.0,NaN,RUE ALBERT SOREL,0130,75014.0,...,NaN,NaN,NaN,NaN,NaN,2.322449,48.823226,6898.734177,-0.031450,-0.014402
1532717,2023-564087,2023-02-14,1,Vente,477000.0,55.0,NaN,RUE DES ENTREPRENEURS,3289,75015.0,...,NaN,NaN,NaN,NaN,NaN,2.288474,48.845632,9173.076923,-0.027003,-0.021603

In [ ]:
df.to_sql('dvf', 'sqlite:///data.db', if_exists='replace', index=False)

501213

In [31]:
df[df["nom_commune"].str.contains("Frebécourt")]["zscores"]

KeyError: 'zscores'